.search {
  position: absolute;
  top: 35px;
  left: 25%;
}
.search > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 560px;
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 300px;
}
.search > input {
  width: 539px;
  padding: 20px;
  position: absolute;
  left: 0;
  height: 30px;
  top: 350px;
  border: none;
}
.search > input:focus {
  outline-width: 0;
}
.search > button {
  position: absolute;
  text-align: center;
  left: 0;
  top: 400px;
  text-transform: inherit !important;
  background-color: #ff7779;
  color: white;
  width: 579px;
}
.search > button:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
